openapi: 3.1.0
info:
  title: Power Automate File Upload
  description: >
    Uploads a file to SharePoint through a Power Automate flow. Use this action when the user wants to save a file to a
    specific SharePoint site and folder.
  version: 1.0.0
servers:
  - url: https://default67bff79e7f914433a8e5c9252d2ddc.1d.environment.api.powerplatform.com
paths:
  /powerautomate/automations/direct/workflows/dfeeb65cdeb444758b1d6dad866abb9f/triggers/manual/paths/invoke:
    post:
      operationId: uploadFileToSharePointViaFlow
      summary: Upload file to SharePoint via Power Automate
      description: |
        Calls a Power Automate flow that uploads a file to a SharePoint folder.

        The JSON request body must contain ONLY siteUrl, folderPath, fileName, fileContentBase64 (and optional fileType).
        Do NOT put api-version, sp, sv, or sig in the body — those are query parameters on the URL only.
      parameters:
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            enum:
              - "1"
            default: "1"
        - name: sp
          in: query
          required: true
          schema:
            type: string
            enum:
              - /triggers/manual/run
            default: /triggers/manual/run
        - name: sv
          in: query
          required: true
          schema:
            type: string
            enum:
              - "1.0"
            default: "1.0"
        - name: sig
          in: query
          required: true
          schema:
            type: string
            description: Flow callback signature (secret). Set default in ChatGPT Action config; do not place in request body.
            default: REPLACE_WITH_FLOW_SIGNATURE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              description: >
                HTTP POST body only. Never include api-version, sp, sv, or sig — those are URL query parameters.
              properties:
                siteUrl:
                  type: string
                  description: Full SharePoint site URL.
                  examples:
                    - https://contoso.sharepoint.com/sites/Finance
                folderPath:
                  type: string
                  description: Folder path inside the site or document library (match Create file action / library name).
                  examples:
                    - Shared Documents/Invoices/2026
                fileName:
                  type: string
                  description: File name including extension.
                  examples:
                    - report.xlsx
                    - evaluation-notes.md
                fileType:
                  type: string
                  description: Optional short hint (e.g. xlsx). Full MIME types are allowed if the flow ignores this field.
                  examples:
                    - xlsx
                fileContentBase64:
                  type: string
                  description: Base64-encoded raw file bytes only (no data URI prefix).
              required:
                - siteUrl
                - folderPath
                - fileName
                - fileContentBase64
      responses:
        "200":
          description: Upload result
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    examples:
                      - uploaded
                  fileName:
                    type: string
                  folderPath:
                    type: string
