{
  "openapi": "3.1.0",
  "info": {
    "title": "Power Automate - AutoSpec Evaluation Report",
    "description": "Submit AutoSpec evaluation report data to a Power Automate flow via its HTTP Request trigger. One POST per workbook sheet. Shared workbook fields are repeated on every request. Exactly one sheet-content property should be populated per call, matching sheetName.",
    "version": "v1.0.2"
  },
  "servers": [
    {
      "url": "https://default67bff79e7f914433a8e5c9252d2ddc.1d.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/0ab633c80e1c4cafb497d8eeda8d28e1/triggers/manual/paths"
    }
  ],
  "paths": {
    "/invoke": {
      "post": {
        "summary": "Submit one workbook sheet to Power Automate",
        "operationId": "submitEvaluationReport",
        "description": "Send one sheet per POST. Repeat common workbook fields on every request. Set sheetName to the target sheet and populate only the matching content property. Query parameters are fixed to the Power Automate trigger values and must not be changed.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "description": "Fixed Power Automate trigger API version.",
            "schema": {
              "type": "string",
              "const": "2024-10-01"
            }
          },
          {
            "name": "sp",
            "in": "query",
            "required": true,
            "description": "Fixed shared access permission value from the trigger URL.",
            "schema": {
              "type": "string",
              "const": "/triggers/manual/run"
            }
          },
          {
            "name": "sv",
            "in": "query",
            "required": true,
            "description": "Fixed shared access version from the trigger URL.",
            "schema": {
              "type": "string",
              "const": "1.0"
            }
          },
          {
            "name": "sig",
            "in": "query",
            "required": true,
            "description": "Fixed signature from the trigger URL.",
            "schema": {
              "type": "string",
              "const": "aWf8ZEdHZJJjucwzhiptxnNOvlW0YfFOJ4Z-W-LuOdc"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkbookSheetPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sheet payload accepted and processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowResponse"
                }
              }
            }
          },
          "202": {
            "description": "Sheet payload accepted for later processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Unauthorized or invalid trigger signature."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WorkbookSheetPayload": {
        "type": "object",
        "description": "Single request body for one workbook sheet submission.",
        "properties": {
          "projectName": {
            "type": "string"
          },
          "projectSlug": {
            "type": "string"
          },
          "reportDate": {
            "type": "string",
            "format": "date"
          },
          "prdFilename": {
            "type": "string"
          },
          "generatedErdFilename": {
            "type": "string"
          },
          "engineeringErdFilename": {
            "type": "string"
          },
          "engineeringErdDisplay": {
            "type": "string"
          },
          "workbookTitle": {
            "type": "string"
          },
          "evaluationsIncludedLabels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "completedSteps": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "overallResult": {
            "type": "string",
            "enum": ["Pass", "Pass with gaps", "Fail"]
          },
          "overallConfidence": {
            "type": "string",
            "enum": ["Low", "Medium", "High"]
          },
          "sheetName": {
            "type": "string",
            "enum": [
              "Report_Overview",
              "PRD_Analysis",
              "Eng_ERD_Comparison",
              "Scoped_Alignment",
              "System_Context_Comp",
              "Recommendations"
            ]
          },
          "reportOverview": {
            "$ref": "#/components/schemas/ReportOverview"
          },
          "prdAnalysis": {
            "$ref": "#/components/schemas/PrdAnalysis"
          },
          "engineeringErdComparison": {
            "$ref": "#/components/schemas/EngineeringErdComparison"
          },
          "scopedAlignmentReview": {
            "$ref": "#/components/schemas/ScopedAlignmentReview"
          },
          "systemContextComparison": {
            "$ref": "#/components/schemas/SystemContextComparison"
          },
          "recommendations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recommendation"
            }
          }
        },
        "required": [
          "projectName",
          "projectSlug",
          "reportDate",
          "prdFilename",
          "generatedErdFilename",
          "engineeringErdFilename",
          "workbookTitle",
          "sheetName"
        ]
      },
      "ReportOverview": {
        "type": "object",
        "properties": {
          "overviewScoreSummary": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OverviewScoreSummaryRow"
            }
          }
        },
        "required": ["overviewScoreSummary"]
      },
      "OverviewScoreSummaryRow": {
        "type": "object",
        "properties": {
          "phase": {
            "type": "string"
          },
          "metric": {
            "type": "string"
          },
          "score": {
            "type": "string"
          }
        },
        "required": ["phase", "metric", "score"]
      },
      "MetricRow": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "resultPercent": {
            "type": "number"
          },
          "basis": {
            "type": "string"
          },
          "confidence": {
            "type": "string",
            "enum": ["Low", "Medium", "High"]
          },
          "why": {
            "type": "string"
          }
        },
        "required": ["name", "resultPercent", "basis", "confidence", "why"]
      },
      "PrdAnalysis": {
        "type": "object",
        "properties": {
          "summary": {
            "$ref": "#/components/schemas/Step1Summary"
          },
          "metrics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetricRow"
            }
          },
          "countingBasis": {
            "$ref": "#/components/schemas/CountingBasis"
          },
          "completenessGaps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompletenessGap"
            }
          },
          "misclassifiedDeliverables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MisclassifiedDeliverable"
            }
          },
          "capabilityLabelMismatches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CapabilityMismatch"
            }
          },
          "hallucinations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HallucinationItem"
            }
          },
          "traceability": {
            "$ref": "#/components/schemas/Traceability"
          },
          "structuralFlags": {
            "$ref": "#/components/schemas/StructuralFlags"
          }
        },
        "required": [
          "summary",
          "metrics",
          "countingBasis",
          "completenessGaps",
          "misclassifiedDeliverables",
          "capabilityLabelMismatches",
          "hallucinations",
          "traceability",
          "structuralFlags"
        ]
      },
      "Step1Summary": {
        "type": "object",
        "properties": {
          "overallResult": {
            "type": "string",
            "enum": ["Pass", "Pass with gaps", "Fail"]
          },
          "oneLiner": {
            "type": "string"
          },
          "overallConfidence": {
            "type": "string",
            "enum": ["Low", "Medium", "High"]
          },
          "confidenceRationale": {
            "type": "string"
          }
        },
        "required": ["overallResult", "oneLiner", "overallConfidence", "confidenceRationale"]
      },
      "CountingBasis": {
        "type": "object",
        "properties": {
          "prdItemRule": {
            "type": "string"
          },
          "substantiveElementRule": {
            "type": "string"
          },
          "traceLinkRule": {
            "type": "string"
          }
        },
        "required": ["prdItemRule", "substantiveElementRule", "traceLinkRule"]
      },
      "CompletenessGap": {
        "type": "object",
        "properties": {
          "prdReference": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "suggestedErdLocation": {
            "type": "string"
          }
        },
        "required": ["prdReference", "description", "suggestedErdLocation"]
      },
      "MisclassifiedDeliverable": {
        "type": "object",
        "properties": {
          "erdId": {
            "type": "string"
          },
          "currentSection": {
            "type": "string"
          },
          "recommendedSection": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          }
        },
        "required": ["erdId", "currentSection", "recommendedSection", "reason"]
      },
      "CapabilityMismatch": {
        "type": "object",
        "properties": {
          "engId": {
            "type": "string"
          },
          "currentLabel": {
            "type": "string"
          },
          "correctPrdCapability": {
            "type": "string"
          },
          "issue": {
            "type": "string"
          }
        },
        "required": ["engId", "currentLabel", "correctPrdCapability", "issue"]
      },
      "HallucinationItem": {
        "type": "object",
        "properties": {
          "erdLocation": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          }
        },
        "required": ["erdLocation", "content", "reason"]
      },
      "Traceability": {
        "type": "object",
        "properties": {
          "totalLinks": {
            "type": "integer"
          },
          "correctLinks": {
            "type": "integer"
          },
          "accuracyPercent": {
            "type": "number"
          },
          "brokenLinks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "erdId": {
                  "type": "string"
                },
                "issue": {
                  "type": "string"
                }
              },
              "required": ["erdId", "issue"]
            }
          },
          "milestoneViolations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "erdId": {
                  "type": "string"
                },
                "found": {
                  "type": "string"
                },
                "expected": {
                  "type": "string"
                }
              },
              "required": ["erdId", "found", "expected"]
            }
          }
        },
        "required": ["totalLinks", "correctLinks", "accuracyPercent", "brokenLinks", "milestoneViolations"]
      },
      "StructuralFlags": {
        "type": "object",
        "properties": {
          "ownerAttributionMissing": {
            "type": "boolean"
          },
          "repositoryCoverageGap": {
            "type": "boolean"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["ownerAttributionMissing", "repositoryCoverageGap", "details"]
      },
      "EngineeringErdComparison": {
        "type": "object",
        "properties": {
          "summary": {
            "$ref": "#/components/schemas/Step2Summary"
          },
          "headlineMetrics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetricRow"
            }
          },
          "sectionScores": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SectionScore"
            }
          },
          "structureChecks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StructureCheck"
            }
          },
          "contentFacets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContentFacet"
            }
          }
        },
        "required": ["summary", "headlineMetrics", "sectionScores", "structureChecks", "contentFacets"]
      },
      "Step2Summary": {
        "type": "object",
        "properties": {
          "overallStructureMatch": {
            "type": "string",
            "enum": ["Aligned", "Partial", "Not aligned"]
          },
          "oneLiner": {
            "type": "string"
          },
          "contentAnalysisSummary": {
            "type": "string"
          },
          "overallConfidence": {
            "type": "string",
            "enum": ["Low", "Medium", "High"]
          },
          "confidenceRationale": {
            "type": "string"
          },
          "scopeAssessment": {
            "type": "string",
            "enum": ["full-program", "subset"]
          },
          "scopeNote": {
            "type": "string"
          }
        },
        "required": [
          "overallStructureMatch",
          "oneLiner",
          "overallConfidence",
          "confidenceRationale",
          "scopeAssessment",
          "scopeNote"
        ]
      },
      "SectionScore": {
        "type": "object",
        "properties": {
          "section": {
            "type": "string",
            "enum": [
              "Document Metadata",
              "Monthly Delivery Summary",
              "Functional Engineering Deliverables",
              "Non-Functional Engineering Deliverables",
              "Engineering Epics",
              "E2E Testing Plan",
              "System Context"
            ]
          },
          "structurePercent": {
            "type": "number"
          },
          "structureBasis": {
            "type": "string"
          },
          "contentPercent": {
            "type": "number"
          },
          "contentBasis": {
            "type": "string"
          },
          "band": {
            "type": "string",
            "enum": ["Match", "Partial", "Does not match", "N/A"]
          }
        },
        "required": [
          "section",
          "structurePercent",
          "structureBasis",
          "contentPercent",
          "contentBasis",
          "band"
        ]
      },
      "StructureCheck": {
        "type": "object",
        "properties": {
          "section": {
            "type": "string"
          },
          "checkNumber": {
            "type": "integer"
          },
          "check": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "generated": {
            "type": "string"
          },
          "pass": {
            "type": "boolean"
          }
        },
        "required": ["section", "checkNumber", "check", "reference", "generated", "pass"]
      },
      "ContentFacet": {
        "type": "object",
        "properties": {
          "section": {
            "type": "string"
          },
          "facet": {
            "type": "string"
          },
          "score": {
            "type": "number",
            "enum": [0, 0.5, 1]
          },
          "rationale": {
            "type": "string"
          }
        },
        "required": ["section", "facet", "score", "rationale"]
      },
      "ScopedAlignmentReview": {
        "type": "object",
        "properties": {
          "declaredScope": {
            "$ref": "#/components/schemas/DeclaredScope"
          },
          "summary": {
            "type": "object",
            "properties": {
              "overallConfidence": {
                "type": "string",
                "enum": ["Low", "Medium", "High"]
              },
              "confidenceRationale": {
                "type": "string"
              }
            },
            "required": ["overallConfidence", "confidenceRationale"]
          },
          "headlineMetrics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetricRow"
            }
          },
          "sectionScores": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SectionScore"
            }
          },
          "structureChecks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StructureCheck"
            }
          },
          "contentFacets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContentFacet"
            }
          },
          "scopeFairnessNote": {
            "type": "string"
          }
        },
        "required": [
          "declaredScope",
          "summary",
          "headlineMetrics",
          "sectionScores",
          "structureChecks",
          "contentFacets",
          "scopeFairnessNote"
        ]
      },
      "DeclaredScope": {
        "type": "object",
        "properties": {
          "engineeringErdScope": {
            "type": "string"
          },
          "howInferred": {
            "type": "string"
          },
          "generatedErdSlice": {
            "type": "string"
          }
        },
        "required": ["engineeringErdScope", "howInferred", "generatedErdSlice"]
      },
      "SystemContextComparison": {
        "type": "object",
        "properties": {
          "summary": {
            "$ref": "#/components/schemas/Step4Summary"
          },
          "perErdMetrics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PerErdMetricRow"
            }
          },
          "crossErdMetrics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CrossErdMetricRow"
            }
          },
          "contradictions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contradiction"
            }
          },
          "mentionOverlap": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MentionOverlapItem"
            }
          }
        },
        "required": ["summary", "perErdMetrics", "crossErdMetrics", "contradictions"]
      },
      "Step4Summary": {
        "type": "object",
        "properties": {
          "erdALabel": {
            "type": "string"
          },
          "erdBLabel": {
            "type": "string"
          },
          "option": {
            "type": "string",
            "enum": ["A", "B"]
          },
          "prdUsed": {
            "type": "string"
          },
          "overallConfidence": {
            "type": "string",
            "enum": ["Low", "Medium", "High"]
          },
          "confidenceRationale": {
            "type": "string"
          }
        },
        "required": ["erdALabel", "erdBLabel", "option", "prdUsed", "overallConfidence", "confidenceRationale"]
      },
      "PerErdMetricRow": {
        "type": "object",
        "properties": {
          "metric": {
            "type": "string"
          },
          "erdAPercent": {
            "type": "number"
          },
          "erdBPercent": {
            "type": "number"
          },
          "confidence": {
            "type": "string",
            "enum": ["Low", "Medium", "High"]
          },
          "howObtained": {
            "type": "string"
          },
          "why": {
            "type": "string"
          }
        },
        "required": ["metric", "erdAPercent", "erdBPercent", "confidence", "howObtained", "why"]
      },
      "CrossErdMetricRow": {
        "type": "object",
        "properties": {
          "metric": {
            "type": "string"
          },
          "result": {
            "type": "string"
          },
          "confidence": {
            "type": "string",
            "enum": ["Low", "Medium", "High"]
          },
          "howObtained": {
            "type": "string"
          },
          "why": {
            "type": "string"
          }
        },
        "required": ["metric", "result", "confidence", "howObtained", "why"]
      },
      "Contradiction": {
        "type": "object",
        "properties": {
          "claimInA": {
            "type": "string"
          },
          "claimInB": {
            "type": "string"
          },
          "note": {
            "type": "string"
          }
        },
        "required": ["claimInA", "claimInB", "note"]
      },
      "MentionOverlapItem": {
        "type": "object",
        "properties": {
          "item": {
            "type": "string"
          },
          "inA": {
            "type": "boolean"
          },
          "inB": {
            "type": "boolean"
          }
        },
        "required": ["item", "inA", "inB"]
      },
      "Recommendation": {
        "type": "object",
        "properties": {
          "number": {
            "type": "integer",
            "minimum": 1
          },
          "recommendation": {
            "type": "string"
          },
          "priority": {
            "type": "string",
            "enum": ["High", "Medium", "Low"]
          },
          "sourceStep": {
            "type": "string"
          }
        },
        "required": ["number", "recommendation", "priority", "sourceStep"]
      },
      "FlowResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "stored"
          },
          "message": {
            "type": "string",
            "example": "Sheet payload saved to SharePoint list."
          },
          "reportKey": {
            "type": "string",
            "example": "creditsafe-integration_2026-04-16"
          },
          "listItemId": {
            "type": "integer",
            "example": 12
          },
          "sheetName": {
            "type": "string",
            "example": "PRD_Analysis"
          },
          "runId": {
            "type": "string"
          }
        },
        "required": ["status", "message"]
      }
    }
  }
}