openapi: 3.1.0
info:
  title: Microsoft Teams Channel Message API
  description: >-
    Send messages to a Microsoft Teams channel via the Microsoft Graph API.
    Authenticate with a Bearer token (OAuth 2.0). The team and channel are
    pre-configured — just provide the message content.
  version: v1.0.0
servers:
  - url: https://graph.microsoft.com/v1.0
security:
  - bearerAuth: []
paths:
  /teams/{teamId}/channels/{channelId}/messages:
    post:
      summary: Send a message to a Teams channel
      operationId: sendChannelMessage
      parameters:
        - name: teamId
          in: path
          required: true
          description: The unique identifier of the team. Always use the default value.
          schema:
            type: string
            default: 50607ba6-e29a-4e26-bb2d-8cf0604ce1bd
        - name: channelId
          in: path
          required: true
          description: The unique identifier of the channel. Always use the default value.
          schema:
            type: string
            default: "19:L8h718E17j8EdjDPGMOjav9q9q0J_nvw2GYe4frVKtk1@thread.tacv2"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatMessage"
      responses:
        "201":
          description: Message created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatMessageResponse"
components:
  schemas:
    ChatMessageBody:
      type: object
      properties:
        content:
          type: string
          description: The message content (plain text or HTML)
        contentType:
          type: string
          enum: [text, html]
          default: text
          description: The type of the content — text or html
      required: [content]
    ChatMessage:
      type: object
      properties:
        body:
          $ref: "#/components/schemas/ChatMessageBody"
      required: [body]
    ChatMessageResponse:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the created message
        createdDateTime:
          type: string
          format: date-time
          description: Timestamp when the message was created
        body:
          $ref: "#/components/schemas/ChatMessageBody"
      required: [id, body]
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth 2.0 access token
